{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
              rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="d-flex justify-content-center align-items-center"
                 id="logo-container">
                <img class="logo" src="{% static 'images/logo.png' %}">
            </div>
            {% if user.is_authenticated %}
                <nav class=" navbar navbar-expand navbar-light bg-light fixed-top mx-auto">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-fill mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Votre flux</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'searching_user' %}">Rechercher un utilisateur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'follows_management' %}">Gérer vos abonnements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ticket_creation' %}">Demander une critique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'review_with_ticket_creation' %}">Créer une critique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'change_password' %}">Changer votre mot de passe</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            {% if user.is_authenticated %}
                <p>
                    Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a>
                </p>
            {% endif %}
        </footer>
    </body>
</html>
