{% extends 'base.html' %}
{% block content %}
    <h2>Gérer vos abonnements</h2>
    <div>
        {% if following %}
            {% for follow in following %}
                <ul>
                    <li>{{ follow.followed_user.username }}</li>
                    <li>Dernière connexion: {{ follow.followed_user.last_login }}</li>
                    <li>Inscription: {{ follow.followed_user.date_joined }}</li>
                    <form method="post"
                          action="{% url 'unfollow_user' follow.followed_user.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Se désabonner</button>
                    </form>
                </ul>
            {% endfor %}
        {% else %}
            <h3>Vous n'êtes abonné à aucun utilisateur</h3>
            <p>
                <a href="{% url 'searching_user' %}">Rechercher un utilisateur</a>
            </p>
        {% endif %}
    </div>
    <h2>Visualisé vos abonné</h2>
    <div>
        <!--Section ici -->
        {% if followers %}
            {% for follow in followers %}
                <ul>
                    <li>{{ user.username }}</li>
                    <li>Dernière connexion: {{ user.last_login }}</li>
                    <li>Inscription: {{ user.date_joined }}</li>
                </ul>
            {% endfor %}
        {% else %}
            <p>Vous n'avez aucun abonné pour le moment</p>
        {% endif %}
    </div>
{% endblock content %}
