{% extends 'base.html' %}
{% block content %}

<h2>Page d'acceuil: la page d'actualité de votre profil</h2>
<nav>
    {% if user.is_authenticated %}
    <p><a href="{% url 'ticket_creation' %}">Créer un ticket</a></p>
    <p><a href="{% url 'review_with_ticket_creation' %}">Créer une Critique</a></p>
    {% endif %}
</nav>
{% if reviews %}
{% for review in reviews %}
<p class="review_ticket">{{review.ticket}}</p>
<p class="review_rating">{{review.rating}}</p>
<p class="review_headline">{{review.headline}}</p>
<p class="review_body">{{review.body}}</p>
{% if user == review.user %}
<p class="review.user">Critique émise par {{review.user}}</p>
<button type="button"><a href="{% url 'review_update' review.id %}">Modifier la critique</a></button>
<button type="button"><a href="{% url 'delete_review' review.id %}">Supprimer la critique</a></button>
{%endif%}
{% endfor %}
{%endif%}
{% if tickets %}
{% for ticket in tickets %}
<p class="ticket_title">{{ticket.title}}</p>
<p class="ticket_description">{{ticket.description}}</p>
<p class="ticket_creation_date">{{ticket.time_created}}</p>
{% if image %}
<img src="{{ticket.image.url}}">
{% endif %}
{% if user == ticket.user %}
<p class="ticket_author">Ticket émit par vous</p>
{%else%}
<p class="ticket_author">Ticket émit par {{ticket.user}}</p>
{%endif%}
{% if user == ticket.user %}
<button type="button"><a href="{% url 'ticket_update' ticket.id %}">Modifier le ticket</a></button>
<button type="button"><a href="{% url 'delete_ticket' ticket.id %}">Supprimer le ticket</a></button>
{%endif%}
<button type="button"><a href="{% url 'review_only_creation' ticket.id %}">Répondre à ce ticket</a></button>

{% endfor %}
{%else%}
<h3>Vous n'avez pas encore de fil d'actualité</h3>
{% endif %}

{% endblock content %}