{% extends 'base.html' %}
{% block content %}
    <h1>Page d'accueil: la page d'actualité de votre profil</h1>
    {% if posts %}
        <h2 class="home_title">Vos posts</h2>
        {% for post in posts %}
            {% if post.content_type == 'REVIEW' %}
                {% include 'review/partials/review_snippet.html' with review=post %}
            {% elif post.content_type == 'TICKET' %}
                {% include 'review/partials/ticket_snippet.html' with ticket=post %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>Vous n'avez pas encore de fil d'actualité</h2>
    {% endif %}
{% endblock content %}
