{% extends 'base.html' %}
{% block content %}
    {% if not ticket_id %}
        {% include 'review/partials/review_creation_snippet.html' with object=object %}
    {% else %}
        {% if user == ticket.user %}
            <h2>Vous êtes en train de poster en réponse à: "{{ ticket.title }}" écrit par vous</h2>
        {% else %}
            <h2>Vous êtes en train de poster en réponse à: "{{ ticket.title }}" écrit par {{ ticket.user }}</h2>
        {% endif %}
        {% include 'review/partials/review_creation_snippet.html' with object=object %}
    {% endif %}
{% endblock content %}
