{% extends 'base.html' %}
{% block content %}
{% if object %}
<h2>Modification du ticket: "{{object.title}}"</h2>
{%else%}
<h2>Créer un Ticket</h2>
{%endif%}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Publier</button>
</form>
{% if object and user == object.user %}
<p>Ticket créer le {{object.time_created}} par vous</p>
{%else%}
<p>Ticket créer le {{object.time_created}} par {{object.user}}</p>
{%endif%}
{% endblock content %}