{% extends 'base.html' %}
{% block content %}
    {% if object %}
        <h1>Modification du ticket: "{{ object.title }}"</h1>
    {% else %}
        <h1>Créer un ticket</h1>
    {% endif %}
    <section class="form-container d-flex justify-content-center align-items-center">
        <p class="form_error">{{ message }}</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Publier</button>
            </div>
        </form>
    </section>
{% endblock content %}
